services:
  api:
    image: chl11wq12/kosta-2-api:v1.0.0
    container_name: api
    platform: linux/amd64
    build: .
    env_file: .env
    ports:
      - ${API_PORT}:${API_PORT}
    networks:
      - backend
    labels:
      # Traefik 라우팅 설정
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.whoami.entrypoints=websecure"
      - "traefik.http.routers.whoami.tls.certresolver=myresolver"

  traefik:
    image: traefik:v3.4
    container_name: traefik
    platform: linux/amd64
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    networks:
      - backend
    volumes:
      - "./letsencrypt:/letsencrypt"
      - /var/run/docker.sock:/var/run/docker.sock:ro
    env_file: .env
    command:
      # - "--log.level=DEBUG" # 디버그 모드
      # - "--certificatesresolvers.myresolver.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory" # 디버그 모드
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entryPoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=${EMAIL}"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
      - "--entryPoints.web.address=:80"
      - "--entryPoints.web.http.redirections.entryPoint.to=websecure"

volumes:
  data:

networks:
  backend:
    driver: bridge
